* {
    font-family: Roboto, sans-serif;
}

body {
    margin: 0;
}

/* Header Styles */
ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

li {
    color: #e5e7eb;
    font-size: 18px;
}

.header {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
}

.header .container {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    padding-top: 20px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}

/* Hero Styles */
h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    margin: 0;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

.hero button {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 600;
    background-color: #3882f6;
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
}

.hero {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
}

.hero .container {
    width: 1000px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: stretch;
    padding: 150px 20px;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: white;
}

/* Info Styles */
h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
    margin: 0;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 100px 20px;
}

.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.empty-box {
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 12px;
}

.box-description {
    text-align: center;
    width: 150px;
}

/* Quote Styles */
.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}

.quote .container {
    display: flex;
    flex-direction: column;
    width: 825px;
    padding: 125px 20px;
}

.quote p {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    margin: 0;
}

.quote .signature {
    align-self: flex-end;
    font-size: 26px;
    font-weight: bold;
}
